
/.mixin.out/
/asm/
/assets/
/astralsorcery/
BotaniaVars.dat
chooser_0.png
/config/
crafttweaker.log
/customnpcs/
ExtraBotanyVars.dat
launcher_profiles.json
mobs_0.png
/libraries/
/logs/
OpenComputersMod-1.7.5.192-lua52-native.64.dll
OpenComputersMod-1.7.5.192-lua53-native.64.dll
options.txt
optionsof.txt
optionsshaders.txt
pings_0.png
/saves/
/screenshots/
servers.dat
servers.dat.bak
tlauncher_profiles.json
usercache.json
usernamecache.json
/versions/
/voxelmap/
/crash-reports/
waypoints_0.png
TL.exe
tempModList-*